VITE_GOOGLE_MAPS_API_KEY=
VITE_TONNER_CONTENT_URL=/content/app-content.json
VITE_TONNER_PAINT_API_URL=https://barmvu9avgeu38-8000.proxy.runpod.net
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

TONNER_PAINT_SAM_CHECKPOINT=/workspace/sam_vit_b_01ec64.pth
TONNER_PAINT_SAM_MODEL_TYPE=vit_b
TONNER_PAINT_MAX_SIDE=1024
TONNER_PAINT_POINTS_PER_SIDE=16
TONNER_PAINT_PRED_IOU_THRESH=0.9
TONNER_PAINT_STABILITY_SCORE_THRESH=0.9
TONNER_PAINT_MIN_MASK_REGION_AREA=5000
