VITE_GOOGLE_MAPS_API_KEY=
VITE_TONNER_CATALOG_URL=
VITE_TONNER_PAINT_URL=
VITE_TONNER_CUP_URL=
VITE_TONNER_CONTENT_URL=/content/app-content.json
VITE_TONNER_PAINT_API_URL=http://127.0.0.1:8000
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

RUNPOD_API_KEY=
RUNPOD_ENDPOINT_ID=
RUNPOD_ENDPOINT_URL=
RUNPOD_OPERATION=runsync
RUNPOD_WAIT_MS=120000
RUNPOD_TIMEOUT_SECONDS=180
